body {
    color: #424242;
    background-color: #F5F5F5;
}

.align-right {
    text-align: right;
}

.btn, .button, html input[type=button], input[type=reset], input[type=submit], .select {
    cursor: default;
}

.form-control[readonly] {
    color: #34495e;
}

.input-group-btn:first-child > .btn {
    margin-right: 0;
    border-right-width: 0;
}

.input-group-btn .btn {
    color: white;
    background-color: #1abc9c;
    border: none;
}

thead,
.total {
    background-color: #16a085;
    color: white;
    font-weight: bold;
}

input[type="submit"] {
    width: 100%
}

.main-heading h1 {
    padding-left: 15px;
}

.main-heading img {
    margin: 50px 0px 0px 13px;
    width: 35px;
}