<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8"/>
    <title>Estimate 3D Printing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href="../../css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../css/flat-ui.min.css" rel="stylesheet"/>

    <link rel="shortcut icon" href="img/favicon.ico"/>

    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>

<body>
<div class="loading" style="display: none; z-index: 10001" ></div>
<div class="container">

    <div class="row">
        <div class="span4">
            <div class="clearfix content-heading main-heading">
                <img th:src="@{/img/icons/svg/insights-24px.svg}" />
                <h1 class="pull-left ">Estimator</h1>
            </div>
        </div>
    </div>


    <form action="/" method="post" enctype="multipart/form-data" id="estimate" >
        <div class="form-group">
            <fieldset class="container-fluid">

                <div class="row">
                    <h3>Upload your file</h3>
                </div>
                <div class="form-group">
                    <label for="file">Select STL, GCODE and ZIP files</label>
                    <div class="input-group">
                        <label class="input-group-btn">
                                <span class="btn btn-primary">
                                    Browse&hellip; <input id="file" type="file" name="file" multiple="multiple"
                                                          required="required" style="display: none;"/>
                                </span>
                        </label>
                        <input type="text" class="form-control" readonly="readonly"></input>
                    </div>
                </div>

                <div class="row">
                    <h3>Slicing configs (only for STL)</h3>
                </div>
                <div class="row">
                    <div class="form-group col-sm-3">
                        <label for="slicer">Slicer</label>
                        <select name="slicer" id="slicer" class="form-control select select-primary select-block mbl"
                                required="required">
                            <option value="slic3r">Slic3r</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="filament_density">Material</label>
                        <select name="filament_density" id="filament_density"
                                class="form-control select select-primary select-block mbl" required="required">
                            <option th:value="${pla_density}">PLA</option>
                            <option th:value="${abs_density}">ABS</option>
                            <option th:value="${petg_density}">PETG</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="fill_density">Infill density (%)</label>
                        <input type="number" name="fill_density" id="fill_density" class="form-control"
                               th:value="${fill_density}"
                               min="0" max="100" required="required"></input>
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="layer_height">Layer height (mm)</label>
                        <input type="text" name="layer_height" id="layer_height" class="form-control"
                               th:value="${layer_height}"
                               min="0" required="required"></input>
                    </div>
                </div>
                <div class="row" style="display: none">
                    <div class="form-group col-sm-3">
                        <label for="brim_width">Brim width</label>
                        <input type="number" name="brim_width" id="brim_width" class="form-control"
                               th:value="${brim_width}"
                               min="0" required="required"></input>
                    </div>
                </div>

                <div style="display:none;">
                    <div class="row">
                        <h3>Additional print time</h3>
                        <p>Add these times to each printing.</p>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <label for="preheat_bed_time">Pre-heat bed time (min)</label>
                            <input type="number" name="preheat_bed_time" id="preheat_bed_time" class="form-control" min="0"
                                   th:value="${preheat_bed_time}" required="required"></input>
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="preheat_hotend_time">Pre-heat hot-end time (min)</label>
                            <input type="number" name="preheat_hotend_time" id="preheat_hotend_time" class="form-control"
                                   min="0"
                                   th:value="${preheat_hotend_time}" required="required"></input>
                        </div>
                    </div>
                </div>

                <div style="display: none">
                    <div class="row">
                        <h3>Costs</h3>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <label for="power_rating">Power rating (watts)</label>
                            <input type="number" name="power_rating" id="power_rating" class="form-control" min="0"
                                   th:value="${power_rating}" required="required"></input>
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="cost_of_energy">Cost of energy (kW/h)</label>
                            <input type="number" name="cost_of_energy" id="cost_of_energy" class="form-control" min="0" max="1" step="0.01"
                                   th:value="${cost_of_energy}" required="required"></input>
                        </div>
                        <div class="form-group col-sm-3" style="display:none">
                            <label for="fail_average">Fail average (%)</label>
                            <input type="number" name="fail_average" id="fail_average" class="form-control" min="0" max="100"
                                   th:value="${fail_average}" required="required"></input>
                        </div>
                        <div class="form-group col-sm-3" style="display: none">
                            <label for="spray_use">Used spray per print ($)</label>
                            <input type="number" name="spray_use" id="spray_use" class="form-control" min="0" step="0.1"
                                   th:value="${spray_use}" required="required"></input>
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="additional_cost">Additional cost ($)</label>
                            <input type="number" name="additional_cost" id="additional_cost" class="form-control" min="0" step="0.1"
                                   th:value="${additional_cost}" required="required"></input>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <h3>Consumable Costs</h3>
                </div>
                <div class="row">
                    <div class="form-group col-sm-3">
                        <label for="filament_cost">Filament Cost ($ per kg)</label>
                        <input type="number" name="filament_cost" id="filament_cost" class="form-control" min="0"
                               th:value="${filament_cost}" required="required"></input>
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="cost_of_energy">Energy Cost ($ per kW/h)</label>
                        <input type="number" name="cost_of_energy" id="cost_of_energy" class="form-control" min="0" max="1" step="0.01"
                               th:value="${cost_of_energy}" required="required"></input>
                    </div>
                </div>

                <div class="dotted_line"></div>

                <div class="row">
                    <h3>Charge</h3>
                </div>
                <div class="row">
                    <div class="form-group col-sm-3">
                        <label for="filament_charge">Filament Charge ($ per kg)</label>
                        <input type="number" name="filament_charge" id="filament_charge" class="form-control" min="0"
                               th:value="${filament_charge}" required="required"></input>
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="energy_charge">Energy Charge ($ per kW/h)</label>
                        <input type="number" name="energy_charge" id="energy_charge" class="form-control" min="0" max="1" step="0.01"
                               th:value="${energy_charge}" required="required"></input>
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="work_hours">Print Time Charge ($ per hour)</label>
                        <input type="number" name="print_time_charge" id="print_time_charge" class="form-control" min="0" step="0.01"
                               th:value="${print_time_charge}" required="required"></input>
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="work_hours">Any Additional Charge ($)</label>
                        <input type="number" name="additional_charge" id="additional_charge" class="form-control" min="0"
                               th:value="${additional_charge}" required="required"></input>
                    </div>
                </div>

                <div style="display: none">
                    <div class="row">
                        <h3>Return over investment</h3>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <label for="investment">Investment ($)</label>
                            <input type="number" name="investment" id="investment" class="form-control" min="0"
                                   th:value="${investment}" required="required"></input>
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="desired_return_time">Desired time (months)</label>
                            <input type="number" name="desired_return_time" id="desired_return_time" class="form-control" min="0"
                                   th:value="${desired_return_time}" required="required"></input>
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="work_hours">Work hours a day</label>
                            <input type="number" name="work_hours" id="work_hours" class="form-control" min="0"
                                   th:value="${work_hours}" required="required"></input>
                        </div>
                    </div>

                    <div class="row">
                        <h3>Profit</h3>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <label for="profit">Profit (%)</label>
                            <input type="number" name="profit" id="profit" class="form-control" min="0"
                                   th:value="${profit}" required="required"></input>
                        </div>
                    </div>

                    <div class="row">
                        <h3>Charges</h3>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <label for="transaction_fee">Transaction fee (%)</label>
                            <input type="number" name="transaction_fee" id="transaction_fee" class="form-control" min="0" step="0.01"
                                   th:value="${transaction_fee}" required="required"></input>
                        </div>
                    </div>
                </div>

            </fieldset>
        </div>
        <div class="form-group">
            <input type="submit" value="GO!" class="btn btn-lg btn-primary"/>
        </div>
    </form>
</div>

<script src="../../js/vendor/jquery.min.js "></script>
<script src="../../js/flat-ui.min.js "></script>
<script src="../../js/app.js "></script>

<footer class="footer">
    <div class="container">
        <p><img th:src="@{/img/icons/png/PolarCloudLogo.png}" /> 2021 Polar Cloud, LLC. This project is based on  <a href="https://github.com/apbetioli/estimate3d">estimate3d</a>. Thanks GitHub user <a href="https://github.com/apbetioli">apbetioli</a> for your hard work.</p>
    </div>
</footer>

</body>

</html>